<!DOCTYPE html>
<html>
<head>
    
    <meta name="renderer" content="ie-stand">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>****项目库管理系统</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/demo/demo.css">
    <script type="text/javascript" src="~/Scripts/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/easyui/locale/easyui-lang-zh_CN.js"></script>    @*在设置datetime格式时引入*@  
    <script type="text/javascript" src="~/Scripts/easyui/easyuiExtension.js"></script>  
</head>
<body>   
    @RenderBody()    
    @RenderSection("footer", false) 
</body>
</html>


