@using Microsoft.AspNet.Identity
@{
    string userid = User.Identity.GetUserId();//取到登录人员的id
}

<table id="cwkz_dg" title="位置：基本设置>>用户管理" class="easyui-datagrid" style="height:auto;">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true"></th>   @*测试批量初始化密码*@
            <th data-options="field:'UserName',align:'center',width:'25%'">用户名</th>
            <th data-options="field:'suoshuxueyuan',align:'center',width:'20%'">所属部门</th>
            <th data-options="field:'zhenshiname',align:'center',width:'15%'">真实姓名</th>
            <th data-options="field:'role',align:'center',width:'15%'">配置角色</th>
            <th data-options="field:'PhoneNumber',align:'center',width:'20%'">联系电话</th>

        </tr>
    </thead>
</table>

<div id="cwkz_toolbar" style="height: 32px; padding: 2px 5px; background:#ddd;">    
    <div style="float: left;">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="init_pw()">重置密码</a>
    </div>    
    <div style="float: right">
        <input class="easyui-searchbox" data-options="prompt:'请输入用户名或真实姓名进行查询',searcher:doSearch" style="width:230px">
    </div>
</div>

<div id="restpaw_dlg" class="easyui-dialog" style="width:300px;height:200px;padding:10px 20px" data-options="closed:'true',buttons:'#restpaw_buttons'">
    <div class="ftitle">用户设置</div>
    <center>
        <form id="restpaw_fm" method="post" novalidate>
            <strong>您确定要重置为默认密码吗？</strong>
        </form>
    </center>
</div>
<div id="restpaw_buttons" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" onclick="init_pw_conf()" style="width:90px">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript: $('#restpaw_dlg').dialog('close')" style="width:90px">取消</a>
</div>


@section footer{
    <script type="text/javascript">
        var url;
    </script>
    <script src="~/homescript/account/ywzyindex_yg.js"></script>
    @*<script src="~/homescript_old/account/ywzyindex_yg_old.js"></script>*@

    <style type="text/css">
        .ftitle {
            font-size: 14px;
            font-weight: bold;
            padding: 5px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .fitem {
            margin: 10px;
        }

            .fitem label {
                display: inline-block;
                width: 80px;
            }
    </style>
}

