@{
    ViewBag.Title = "Index";
}

<table id="xingzhi_dg" class="easyui-datagrid" title="位置：基本设置>>部门性质设置" style="height:auto;width:100%">
    <thead>
        <tr>
            <th data-options="field:'xingzhi',align:'center',width:'98%'">部门性质</th>
        </tr>
    </thead>
</table>

<div id="toolbar">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="newxingzhi()">新 增</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="destroyxingzhi()">删 除</a>
</div>

<div id="dlg" class="easyui-dialog" style="width:560px;height:200px;padding:10px 20px" data-options="closed:'true',buttons:'#dlg-buttons'">
    <div class="ftitle">部门性质设置</div>
    <form id="fm" method="post" novalidate>
        <div class="fitem" hidden>
            <label>ID:</label>
            <input id="ID" name="ID" class="easyui-textbox" style="width:350px;height:30px">      @*这里是作为更新部门性质时候，获取模型的主键使用的*@
        </div>
        <div class="fitem">
            <label>部门性质:</label>
            <input id="xingzhi" name="xingzhi" class="easyui-textbox" data-options="icons:[],validType:'checknameissame'" style="width:350px;height:30px" required>
        </div>
    </form>
</div>

<div id="dlg-buttons" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" onclick="savexingzhi()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>


@section footer{
    <script type="text/javascript">
        var url;
    </script>

    <script src="~/homescript/bmxingzhi/bmxingzhiindex.js">
    </script>

    <style type="text/css">
        #fm {
            margin: 0;
            padding: 10px 30px;
        }

        .ftitle {
            font-size: 14px;
            font-weight: bold;
            padding: 5px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .fitem {
            margin-bottom: 10px;
        }

            .fitem label {
                display: inline-block;
                width: 80px;
            }

            .fitem input {
                width: 160px;
            }
    </style>
}

