@{
    ViewBag.Title = "版权信息";
    //Layout = null;
}

<div id="p" class="easyui-panel" title="位置：关于我们>>版权信息" style="width: auto; height: auto; padding: 10px; overflow: hidden;" data-options="fit:true">    
    <table style="width: 50%; margin: auto; padding-top: 30px;border-style:none;border:none;font-size:16px; ">        
        <tr>
            <td style="padding:10px;vertical-align:middle;text-align:center;"><img src='~/Content/image/11.png' /></td>
            <td style="padding: 10px 0px;vertical-align:middle;"><div ><span>项目库平台（Ver1.0.0）</span></div></td>
        </tr>
        <tr>
            <td style="padding:10px;vertical-align:middle;text-align:center;"><img src='~/Content/image/22.png' /></td>
            <td style="padding: 10px 0px;vertical-align:middle;"><div><span>****财务处</span></div></td>
        </tr>
        <tr>
            <td style="padding:10px;vertical-align:middle;text-align:center;"><img src='~/Content/image/33.png' /></td>
            <td style="padding: 10px 0px;vertical-align:middle;"><div ><span>****网络科技有限公司 </span></div></td>
        </tr>
    </table>
</div>






