@{
    ViewBag.Title = "版权信息";
    //Layout = null;
}
<div id="p" class="easyui-panel" title="位置：关于我们>>用户手册" style="width: auto; height: auto; padding: 10px; overflow: hidden;" data-options="fit:true">
    <div style="vertical-align:middle;text-align:center;margin-top:50px;text-decoration:underline">@Html.ActionLink("部门负责人及员工用户使用手册", "GetFile")</div>

    @*<p>本软件支持的用户角色，如下图所示： </p>
    
    <p>Admin：可以管理申报目录、部门、用户、评委；查看登录日志；修改自身的密码。 </p>
    <p>业务专员： </p>
    <p>财务主管： </p>
    <p>部门负责人：创建自己所管理的员工、创建项目、审核员工提交的项目、提交本部门的项目。 </p>
    <p>员工：创建项目并将所创建的项目提交给部门负责人审核。 </p>
    <p>分管领导：审核所分管部门的项目。 </p>
    <p>领导：审核所分管部门的项目，查看全校已经通过的项目。 </p>
    <p>&nbsp;</p>
    <ol>
        <li>申报流程 </li>
    </ol>*@

</div>






