@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    string loingid = User.Identity.GetUserId();//取到登录人员的id
}

<style>
    .footer {
        width: 100%;
        text-align: center;
        line-height: 35px;
    }
    .top-bg {
        background-color: #d8e4fe;
        height: 80px;
    }
</style>

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',split:true,border:true" style="overflow: hidden; height: 80px;">
        @*<div class="top-bg">
                @Html.Partial("_LoginPartial")
            </div>*@

        <div class="top-bg">
            <div style="float: left;width:5%;">
                <a class="navbar-brand navbar-left">
                    <img src="~/Content/image/logo.png" style="width:40px;height:40px">
                </a>
            </div>

            <div style="width: 60%; float: left; text-align: left; ">
                <p style="font-size: x-large; padding-top: 15px"><strong>****大学项目库管理系统</strong></p>
            </div>

            <div style="float: right; padding-top: 15px; width: 30%;">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div data-options="region:'west',split:true" title="导航菜单" style="width: 200px;">

        <div id="pw_aa" class="easyui-accordion" style="position: absolute;top:27px;left:0px;right:0px;bottom:0px;">

            <div title="公    告" id="tongzhi" data-options="iconCls:'icon-new'">
            </div>

            <div title="项目管理" id="xmmlgl" class="easyui-datalist" style="width:99%" data-options="url:'Home/pw_GetXmmuluData?loingid=@loingid',method:'post',iconCls:'icon-manage',tools:[{iconCls:'icon-reload',handler:function(){$('#xmmlgl').datagrid('reload');}}]">
            </div>

            <div title="基本设置" data-options="iconCls:'icon-hammer'">
                <ul class="easyui-datalist">
                    <li><a style="margin-left:20px;text-decoration:none" href="javascript:void(0)" onclick="xm('/Account/rsetpwdindex')"><img src='~/Scripts/easyui/themes/icons/mima.png' />&nbsp;&nbsp;&nbsp;密码修改</a></li>
                </ul>
            </div>           

        </div>
    </div>
    <div id="mainPanle" data-options="region:'center'" style="overflow: hidden;">
       
        <div id="main-tab" class="easyui-tabs" data-options="fit:true, border:false">
            <div title="我的主页" data-options="iconCls:'icon-house',closable:false" style="padding: 5px;">
                @*<iframe name="mainFrame" id="mainFrame" scrolling="auto" style="width:100%;height:100%" frameborder="0" src="@Url.Action("indexnew")" marginheight="0" marginwidth="0"></iframe>*@
                <iframe name="mainFrame" id="mainFrame" scrolling="auto" style="width:100%;height:100%" frameborder="0" src="@Url.Action("indexnew")" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
</div>

@*<div id="tab-menu" class="easyui-menu" style="width: 150px;">
    <div id="tab-menu-refresh" data-options="iconCls:'icon-reload'">刷新</div>
    <div id="tab-menu-openFrame" data-options="iconCls:'pic_138'">新窗口打开</div>
    <div class="menu-sep"></div>
    <div id="tab-menu-close" data-options="iconCls:'icon-remove'">关闭</div>
    <div id="tab-menu-closeleft" data-options="iconCls:'icon-undo'">关闭左边</div>
    <div id="tab-menu-closeright" data-options="iconCls:'icon-redo'">关闭右边</div>
    <div class="menu-sep"></div>
    <div id="tab-menu-closeother" data-options="iconCls:'pic_101'">关闭其他</div>
    <div id="tab-menu-closeall" data-options="iconCls:'pic_283'">关闭所有</div>
</div>*@

<script src="~/homescript/home/shenhe_pw_index.js"></script>  



