
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div> 

        项目库申报流程：

        </br>
        部门工作人员填写-->部门领导审核-->分管校长审核-->财务处审定

    </div>
</body>
</html>
