@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string dgtitle = ViewBag.muluName;
    string loingid = User.Identity.GetUserId();//取到登录人员的id
}

<table id="dg_bscwzg_wsh" class="easyui-datagrid" style="width:100%;height:auto;">
    <thead>
        <tr>
            <th data-options="field:'XmName',align:'center',width:'23%',formatter:TitleFormatter" rowspan="2">项目名称</th>          
            <th data-options="field:'Xuhao',align:'center',width:'5%'" rowspan="2">排名</th>
            <th data-options="field:'zongjine',align:'center',width:'5%'" rowspan="2">金额<br />(万元)</th>
            <th colspan="1">操作</th>
            <th colspan="4">审核状态</th>
            <th data-options="field:'Beizhu',align:'center',width:'19%',formatter: TitleFormatter_jj" rowspan="2">简介</th>
            <th data-options="field:'Chuangjianshijian',align:'center',formatter:formatDatebox,width:'8%'" rowspan="2">创建时间</th>
        </tr>
        <tr>
            <th data-options="field:'xmrizhi',align:'center',width:'7%',formatter: cwzg_xmrizhi_wsh">①</th>
            <th data-options="field:'bmfzrshenhe',align:'center',width:'8%',formatter:bmfzrtubiao">部门负责人</th>
            <th data-options="field:'fgldshenhe',align:'center',width:'8%',formatter:fgldtubiao">分管领导</th>
            <th data-options="field:'pingweishenhe',align:'center',width:'6%',formatter:pwshenhetubiao">评委</th>
            <th data-options="field:'ywzyshenhe',align:'center',width:'8%',formatter:ywzybubiao">业务部门</th>
        </tr>
    </thead>
</table>

@*财务主菜单栏*@
<div id="cwzg_toolbar" style="height: 32px; padding: 2px 5px; background:#ddd;">
    <div style="float: right">
        所有部门筛选:
        <select id="suoshuxueyuan" name="suoshuxueyuan" class="easyui-combobox" style="width:200px" data-options="editable:false">
            @foreach (var item in ViewBag.fgld_sx_bumen)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/myScript/datagrid-groupview.js"></script>

<script type="text/javascript">    
    var url, dgtitle = '@dgtitle', loingid = '@loingid';
</script>


<script src="~/homescript/xiangmuguanli/bushen_cwzg_weishenhe.js">
</script>

