@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    string dgtitle = ViewBag.muluName;
    string loingid = User.Identity.GetUserId();//取到登录人员的id
    string username = User.Identity.GetUserName();
}

<table id="dg_shywzy_wsh" class="easyui-datagrid" style="height:auto;width:100%">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true" rowspan="2"></th>
            <th data-options="field:'XmName',align:'center',width:'21%',formatter:TitleFormatter" rowspan="2">项目名称</th>
            <th data-options="field:'Xuhao',align:'center',width:'5%'" rowspan="2">排名</th>
            <th data-options="field:'zongjine',align:'center',width:'5%'" rowspan="2">金额<br />(万元)</th>
            <th colspan="3">操作</th>
            <th colspan="4">审核状态</th>
            <th data-options="field:'Beizhu',align:'center',width:'16%',formatter: TitleFormatter_jj" rowspan="2">简介</th>
            <th data-options="field:'Chuangjianshijian',align:'center',formatter:formatDatebox,width:'8%'" rowspan="2">创建时间</th>
        </tr>
        <tr>
            <th data-options="field:'IDs',align:'center',width:'5%',formatter: tianbiao_ywzy_wsh">①</th>
            <th data-options="field:'IDas',align:'center',width:'5%',formatter:ywzy_shenhe_wsh">②</th>
            <th data-options="field:'xmrizhi',align:'center',width:'5%',formatter: ygxmrizhi_wsh">③</th>
            <th data-options="field:'bmfzrshenhe',align:'center',width:'7%',formatter:bmfzrtubiao">部门负责人</th>
            <th data-options="field:'fgldshenhe',align:'center',width:'7%',formatter:fgldtubiao">分管领导</th>
            <th data-options="field:'pingweishenhe',align:'center',width:'5%',formatter:pwshenhetubiao">评委</th>
            <th data-options="field:'ywzyshenhe',align:'center',width:'7%',formatter:ywzybubiao">业务部门</th>
        </tr>
    </thead>
</table>

@*批量审核按钮*@
<div id="pl_ywzy_toolbar" style="height: 32px; padding: 2px 5px; background:#ddd;">
    <div style="float: left;">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-shenhe',plain:true" onclick="pl_shenhe()">批量审核</a>
    </div>
    <div style="float: right">
        所有部门筛选:
        <select id="suoshuxueyuan" name="suoshuxueyuan" class="easyui-combobox" style="width:200px" data-options="editable:false">
            @foreach (var item in ViewBag.fgld_sx_bumen)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
</div>

@*业务专员审核弹出对话框*@
<div id="shenhe_dlg" class="easyui-dialog" style="width:470px;height:220px;padding:10px 20px" data-options="closed:'true',buttons:'#shenhe_ywzy_dlg'">
    <center>
        <form id="fm_shywzy" method="post" novalidate>
            <table cellpadding="5">
                <tr>
                    <td><strong>审核结果:</strong></td>
                    <td>
                        <input type="radio" name="shenhe" value="通过" required><span>通过</span>
                        <input type="radio" name="shenhe" value="未通过" required><span>未通过</span>
                    </td>
                </tr>
                <tr>
                    <td><strong>审核意见：</strong></td>
                    <td>
                        <input name="ywzyyijian" class="easyui-textbox" data-options="multiline:true" style="width:300px;height:70px">
                    </td>
                </tr>
            </table>
        </form>
    </center>
</div>
<div style="text-align:center;padding:5px" id="shenhe_ywzy_dlg">
    <a href="#" id="shenhe_btn" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true" onclick="ywzyshenhe_save()">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript: $('#shenhe_dlg').dialog('close')" style="width:80px">取消</a>
</div>

@*批量审核弹出对话框*@
<div id="pl_shenhe_dlg" class="easyui-dialog" style="width:450px;height:240px;padding:10px 20px" data-options="closed:'true',buttons:'#tj_ywzy_btn'">
    <div class="ftitle"></div>
    <center>
        <form id="shenhe_fm" method="post" novalidate>
            <table cellpadding="5">
                <tr>
                    <td><strong>审核结果:</strong></td>
                    <td>
                        <input type="radio" name="shenhe" value="通过" required><span>通过</span>
                        <input type="radio" name="shenhe" value="未通过" required><span>未通过</span>
                    </td>
                </tr>
                <tr>
                    <td><strong>审核意见：</strong></td>
                    <td>
                        <input name="ywzyyijian" class="easyui-textbox" data-options="multiline:true" style="width:300px;height:70px">
                    </td>
                </tr>
            </table>
        </form>
        <div id="tj_ywzy_btn" style="text-align:center;padding:5px">
            <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" onclick="pl_ywzy_save()" style="width:90px">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript: $('#pl_shenhe_dlg').dialog('close')" style="width:90px">取消</a>
        </div>
    </center>
</div>

<script type="text/javascript" src="~/Scripts/myScript/datagrid-groupview.js"></script>

<script type="text/javascript">
    var url, dgtitle = '@dgtitle', loingid = '@loingid',username='@username';
</script>
<script src="~/homescript/xiangmuguanli/shenhe_ywzy_weishenhe.js"></script>

<style type="text/css">    
    .ftitle {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }
</style>