@using Microsoft.AspNet.Identity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string dgtitle = ViewBag.muluName;
    DateTime jsshijian = ViewBag.jsshijian;
    string loingid = User.Identity.GetUserId();//取到登录人员的idloingid
    string username = User.Identity.GetUserName();
    var sf = DateTime.Now.ToString();
    string weizhi = "位置：目录管理>>";
}

<div class="easyui-panel" title="@weizhi@dgtitle" style="padding:5px;" data-options="fit:true, border:true ">
    <table id="dg_yg" class="easyui-datagrid" style="height:auto;width:100%">
        <thead>
            <tr>
                <th data-options="field:'XmName',align:'center',width:'24%',formatter:TitleFormatter" rowspan="2">项目名称</th>
                <th data-options="field:'zongjine',align:'center',width:'6%'" rowspan="2">金额<br />(万元)</th>
                <th colspan="3">操作 </th>
                <th colspan="3">审核状态</th>
                <th data-options="field:'Beizhu',align:'center',width:'21%',formatter: TitleFormatter_jj" rowspan="2">简介</th>
                <th data-options="field:'Chuangjianshijian',align:'center',formatter:formatDatebox,width:'8%'" rowspan="2">创建时间</th>
            </tr>
            <tr>
                @*如果第一次出现的field同值的列没有formatter，后续的formatter将无效*@
                <th data-options="field:'IDcc',align:'center',width:'6%',formatter: yg_tianbiao">①</th>
                <th data-options="field:'IDtijiaocc',align:'center',width:'6%',formatter: yg_tijiao">②</th>
                <th data-options="field:'action',align:'center',width:'7%',formatter:InputAction">③</th>
                <th data-options="field:'bmfzrshenhe',align:'center',width:'7%',formatter: bmfzrtubiao">部门负责人</th>
                <th data-options="field:'fgldshenhe',align:'center',width:'7%',formatter: fgldtubiao">分管领导</th>
                <th data-options="field:'ywzyshenhe',align:'center',width:'7%',formatter:ywzybubiao">业务部门</th>
            </tr>
        </thead>
    </table>
</div>

<div id="mm3" class="easyui-menu" style="width:120px;">
    <div id="rizhi">查看日志</div>
    <div id="yidong">
        移动目录
    </div>
    <div id="daochu">
        导出excel
    </div>
</div>

<div id="yg_toolbar">
    @if (DateTime.Now <= jsshijian)
    {
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="newxm_yg()">新 增</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editxm_yg()">编 辑</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="desxm_yg()">删 除</a>
    }
</div>

@*员工提交对话框*@
<div id="tijiao_dlg" class="easyui-dialog" style="width:35%;height:auto;padding:10px 20px" data-options="closed:'true',buttons:'#tijiao_btn'">
    <center>
        <form id="tijiao_fm" method="post" novalidate>
            <p style="font-size:15px;"><strong>您确定要提交这条记录吗？</strong></p>
        </form>
    </center>
</div>
<div id="tijiao_btn" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" onclick="tijiao_save()" style="width:90px">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript: $('#tijiao_dlg').dialog('close')" style="width:90px">取消</a>
</div>


@*新增使用的对话框   420px*@
<div id="dlg" class="easyui-dialog" style="width:65%;height:auto;padding:10px 20px" data-options="closed:'true',buttons:'#dlg-btn'">
    <form id="fm" method="post" novalidate>
        <div class="fitem" hidden>
            <label>项目编号:</label>
            <input name="ID" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>项目名称:</label>@*,'stringCheckSub','kuohaoCheckSub'*@
            <input id="XmName" name="XmName" class="easyui-textbox" data-options="icons:[],validType:['checknameissame','stringCheckSub']" style="width:80%;height:30px;" required>
        </div>
        <div class="fitem">
            <label>项目简介:</label>
            <input name="Beizhu" id="Beizhu" class="easyui-textbox" data-options="multiline:true,icons:[]" style="width:80%;height:180px" required>
        </div>
    </form>
</div>
<div id="dlg-btn" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" onclick="saveXiangmu()" style="width:90px">保存</a>   @*这里新增和编辑公用一个save*@
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>


@*编辑使用的对话框    420px*@
<div id="dlg_edit" class="easyui-dialog" style="width:65%;height:auto;padding:10px 20px" data-options="closed:'true',buttons:'#dlg-btn'">
    <form id="fm_edit" method="post" novalidate>
        <div class="fitem" hidden>
            <label>项目编号:</label>
            <input name="ID" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>项目名称:</label>
            <input id="XmName_edit" name="XmName" class="easyui-textbox" data-options="icons:[]" style="width:80%;height:30px;" required>
        </div>
        <div class="fitem">
            <label>项目简介:</label>
            <input name="Beizhu" id="Beizhu_edit" class="easyui-textbox" data-options="multiline:true,icons:[]" style="width:80%;height:180px" required>
        </div>
    </form>
</div>
<div id="dlg-btn" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" onclick="saveXiangmu_edit()" style="width:90px">保存</a>   @*这里新增和编辑公用一个save*@
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript: $('#dlg_edit').dialog('close')" style="width:90px">取消</a>
</div>


@*部门负责人移动项目目录*@
<div id="dlg_mulu" class="easyui-dialog" style="width:60%;height:auto;padding:10px 20px" data-options="closed:true,resizable:true,modal:true,buttons:'#dlg_mulu_btn'">
    <form id="fm_mulu" method="post" novalidate>        
        <div class="fitem" >
            <label style="width:15%">移动到:</label>           
            <input id="ydmulu" name="ydmulu" class="easyui-combobox" style="width:70%;height:30px" required>
        </div>
    </form>
</div>
<div id="dlg_mulu_btn" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" onclick="mulu_save()" style="width:90px">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript: $('#dlg_mulu').dialog('close')" style="width:90px">取消</a>
</div>


@section footer{
    <script type="text/javascript">
        var url, dgtitle = '@dgtitle', loingid = '@loingid', username = '@username',sf='@sf';
    </script>    
    <script src="~/homescript/xiangmuguanli/shenhe_yg.js"></script>
    <style type="text/css">
        #fm {
            margin: 0;
        }
        .fitem {
            margin: 10px;
        }
            .fitem label {
                display: inline-block;
                width: 80px;
            }
    </style>
}

